.attribution {
  margin-top: 6vh;

  .a {
    color: hsl(228, 45%, 44%);
  }
}

@media only screen and (min-width: $desktop-size) {
  .attribution {
    margin-top: 2rem;
  }
}

@media only screen and (width: 375px) {
  .attribution {
    margin-top: 18rem;
  }
}
