.pg-fm {
  .btn {
    display: none;
  }
  .btn-m {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 15vw;
    height: 5vh;
    position: absolute;
    left: 75vw;
    background-image: linear-gradient(
      135deg,
      hsl(0, 80%, 86%),
      hsl(0, 74%, 74%)
    );
    box-shadow: 0 0px 0.5px 0 rgba(0, 0, 0, 0.2),
      0 8px 10px 0 rgba(0, 0, 0, 0.2);
  }

  .btn--round {
    border-radius: 5rem;
  }
}

@media only screen and (min-width: $desktop-size) {
  .btn-m {
    display: none !important;
  }
  .btn {
    display: flex !important;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative !important;
    bottom: 7vh !important;
    left: 30vw !important;
    width: 8vw !important;
    height: 7vh !important;
    background-image: linear-gradient(
      135deg,
      hsl(0, 80%, 86%),
      hsl(0, 74%, 74%)
    );
    box-shadow: 0 0px 0.5px 0 rgba(0, 0, 0, 0.2),
      0 8px 10px 0 rgba(0, 0, 0, 0.2);
  }
}

@media only screen and (max-width: 1440px) {
  .btn {
    left: 28vw !important;
    bottom: 7vh !important;
    height: 7vh !important;
  }
}

@media only screen and (max-width: 1366px) {
  .btn {
    left: 28vw !important;
    bottom: 8vh !important;
    height: 8vh !important;
  }
}

@media only screen and (max-width: 1280px) {
  .btn {
    left: 24vw !important;
  }
}

@media only screen and (width: 1200px) {
  .btn {
    left: 22vw !important;
    height: 8vh !important;
  }
}

@media only screen and (height: 950px) {
  .btn {
    height: 6.5vh !important;
    bottom: 6.6vh !important;
  }
}

@media only screen and (max-height: 736px) {
  .pg-fm {
    .btn-m {
      height: 5.5vh;
    }
  }
}

@media only screen and (max-height: 731px) {
  .pg-fm {
    .btn-m {
      height: 5.5vh;
    }
  }
}

@media only screen and (max-height: 667px) {
  .pg-fm {
    .btn-m {
      height: 6.2vh;
    }
  }
}

@media only screen and (max-height: 645px) {
  .pg-fm {
    .btn {
      height: 6.4vh;
    }
  }
}

@media only screen and (max-height: 640px) {
  .pg-fm {
    .btn-m {
      height: 6.3vh;
    }
  }
}

@media only screen and (max-height: 612px) {
  .pg-fm {
    .btn-m {
      height: 7vh;
    }
  }
}

@media only screen and (max-height: 634px) {
  .pg-fm {
    .btn-m {
      height: 6.8vh;
    }
  }
}

@media only screen and (max-height: 592px) {
  .pg-fm {
    .btn-m {
      height: 7vh;
    }
  }
}

@media only screen and (max-height: 572px) {
  .pg-fm {
    .btn-m {
      height: 7.3vh;
    }
  }
}

@media only screen and (max-height: 550px) {
  .pg-fm {
    .btn-m {
      height: 7.5vh;
    }
  }
}
