.pg-fm {
  margin-top: 3rem;
  display: flex;
  justify-content: start;

  .pg-fm__inp {
    width: 70vw;
    height: 5vh;
    border-radius: 5rem;
    outline: none;
    border: 0.1rem solid lighten($color: $pri-des-red, $amount: 15);
    padding: 2rem 0 2rem 2rem;

    &::placeholder {
      font-size: 1rem;
      color: rgb(187, 187, 187);
    }
  }
}

@media only screen and (min-width: $desktop-size) {
  .pg-fm__inp {
    width: 30vw !important;
    height: 6vh !important;
  }
}
