.pg-fm {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;

  .pg-fm__inp {
    display: flex;
    width: 80vw;
    height: 5vh;
    border-radius: 5rem;
    outline: none;
    border: 0.1rem solid lighten($color: $pri-des-red, $amount: 15);
    padding: 2.5rem 0 2.5rem 2.5rem;

    &::placeholder {
      font-size: 1.5rem;
      color: rgb(187, 187, 187);
    }
  }
}

@media only screen and (min-width: $desktop-size) {
  .pg-fm {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: start;

    .pg-fm__inp {
      width: 36vw !important;
      height: 6vh !important;
    }
  }
}

@media only screen and (width: 1280px) {
  .pg-fm {
    .pg-fm__inp {
      width: 32vw !important;
    }
  }
}

@media only screen and (width: 1200px) {
  .pg-fm {
    .pg-fm__inp {
      width: 30vw !important;
    }
  }
}
