.logo {
  display: flex;
  flex: 1;
  height: 8vh;
  flex-direction: row;
  align-items: center;

  .logo__img {
    width: 12rem;
    margin-left: 3rem;
  }
}

@media only screen and (min-width: $desktop-size) {
  .logo {
    margin-top: 3rem;
  }
}
