@import url("https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

body {
  box-sizing: border-box; }

html {
  /*10px = 1rem*/
  font-size: 62.5%; }

@media only screen and (max-width: 900px) {
  /* Tablet */
  html {
    /* 1rem = 10px */
    font-size: 56.25%; } }

@media only screen and (max-width: 600px) {
  /* Mobile */
  html {
    /* 1rem = 10px */
    font-size: 50%; } }

body {
  font-family: "Josefin Sans", sans-serif; }

.art__tit {
  text-align: center;
  margin-top: 6rem; }
  .art__tit .art__tit--fir,
  .art__tit .art__tit--sec,
  .art__tit .art__tit--tir {
    font-size: 5rem;
    text-transform: uppercase;
    font-weight: 300;
    color: #ce9797; }
  .art__tit .art__tit--sec,
  .art__tit .art__tit--tir {
    font-size: 5rem;
    text-transform: uppercase;
    font-weight: 700;
    color: #413a3a; }

.art__txt {
  text-align: center;
  font-size: 1.8rem;
  line-height: 1.7;
  color: #ce9797; }

.pg-fm__inp,
.msg {
  font-weight: bold; }

.msg {
  font-size: 1.5rem; }

@media only screen and (max-width: 1440px) {
  .art__txt {
    font-size: 1.6rem !important; } }

@media only screen and (min-width: 1200px) {
  html {
    font-size: 75%; }
  .art__tit,
  .art__txt {
    text-align: left; }
  .msg {
    font-size: 1rem; } }

.logo {
  display: flex;
  flex: 1;
  height: 8vh;
  flex-direction: row;
  align-items: center; }
  .logo .logo__img {
    width: 12rem;
    margin-left: 3rem; }

@media only screen and (min-width: 1200px) {
  .logo {
    margin-top: 3rem; } }

.pg-fm {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center; }
  .pg-fm .pg-fm__inp {
    display: flex;
    width: 80vw;
    height: 5vh;
    border-radius: 5rem;
    outline: none;
    border: 0.1rem solid #e7cbcb;
    padding: 2.5rem 12rem 2.5rem 2.5rem; }
    .pg-fm .pg-fm__inp::placeholder {
      font-size: 1.5rem;
      color: #bbbbbb; }
  .pg-fm .msg {
    color: #ce9797;
    margin: 1rem 0 0 3rem;
    justify-self: start; }
  .pg-fm .icon {
    border: 0.2rem solid red;
    background-image: url("../../src/images/icon-error.svg");
    background-repeat: no-repeat;
    background-position: 55vw, center; }

@media only screen and (min-width: 1200px) {
  .pg-fm {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: start; }
    .pg-fm .pg-fm__inp {
      width: 36vw !important;
      height: 6vh !important; }
    .pg-fm .msg {
      margin: 1rem 0 0 2.5rem; }
    .pg-fm .icon {
      background-position: 25vw, center; } }

@media only screen and (width: 1280px) {
  .pg-fm .pg-fm__inp {
    width: 32vw !important; } }

@media only screen and (width: 1200px) {
  .pg-fm .pg-fm__inp {
    width: 30vw !important; } }

.pg-fm .btn {
  display: none; }

.pg-fm .btn-m {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 15vw;
  height: 5vh;
  position: absolute;
  left: 75vw;
  background-image: linear-gradient(135deg, #f8bfbf, #ee8c8c);
  box-shadow: 0 0px 0.5px 0 rgba(0, 0, 0, 0.2), 0 8px 10px 0 rgba(0, 0, 0, 0.2); }

.pg-fm .btn--round {
  border-radius: 5rem; }

@media only screen and (min-width: 1200px) {
  .btn-m {
    display: none !important; }
  .btn {
    display: flex !important;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative !important;
    bottom: 7vh !important;
    left: 30vw !important;
    width: 8vw !important;
    height: 7vh !important;
    background-image: linear-gradient(135deg, #f8bfbf, #ee8c8c);
    box-shadow: 0 0px 0.5px 0 rgba(0, 0, 0, 0.2), 0 8px 10px 0 rgba(0, 0, 0, 0.2); } }

@media only screen and (max-width: 1440px) {
  .btn {
    left: 28vw !important;
    bottom: 7vh !important;
    height: 7vh !important; }
  .btn-v {
    bottom: 10vh !important; }
  .btn-f {
    bottom: 8vh !important; } }

@media only screen and (max-width: 1366px) {
  .btn {
    left: 28vw !important;
    bottom: 8vh !important;
    height: 8vh !important; }
  .btn-v {
    bottom: 11.5vh !important; }
  .btn-f {
    bottom: 9.5vh !important; } }

@media only screen and (max-width: 1280px) {
  .btn {
    left: 24vw !important; } }

@media only screen and (width: 1200px) {
  .btn {
    left: 22vw !important;
    height: 8vh !important; } }

@media only screen and (height: 950px) {
  .btn {
    height: 6.5vh !important;
    bottom: 6.6vh !important; } }

@media only screen and (max-height: 736px) {
  .pg-fm .btn-m {
    height: 5.5vh; } }

@media only screen and (max-height: 731px) {
  .pg-fm .btn-m {
    height: 5.5vh; } }

@media only screen and (max-height: 667px) {
  .pg-fm .btn-m {
    height: 6.2vh; } }

@media only screen and (max-height: 645px) {
  .pg-fm .btn {
    height: 6.4vh; } }

@media only screen and (max-height: 640px) {
  .pg-fm .btn-m {
    height: 6.3vh; } }

@media only screen and (max-height: 612px) {
  .pg-fm .btn-m {
    height: 7vh; } }

@media only screen and (max-height: 634px) {
  .pg-fm .btn-m {
    height: 6.8vh; } }

@media only screen and (max-height: 592px) {
  .pg-fm .btn-m {
    height: 7vh; } }

@media only screen and (max-height: 572px) {
  .pg-fm .btn-m {
    height: 7.3vh; } }

@media only screen and (max-height: 550px) {
  .pg-fm .btn-m {
    height: 7.5vh; } }

.mob__ban {
  background-image: url("../../src/images/hero-mobile.jpg");
  background-size: cover;
  height: 30vh; }

@media only screen and (min-width: 1200px) {
  .banner {
    height: 100vh;
    background-image: url("../../src/images/hero-desktop.jpg");
    background-repeat: no-repeat;
    background-size: cover; } }

/*DESKTOP*/
@media only screen and (min-width: 1440px) {
  .container {
    background-size: contain; } }

@media only screen and (min-width: 1200px) {
  html {
    font-size: 75%; }
  .mobile {
    display: none; }
  .container {
    height: 100vh;
    width: 100vw;
    background-image: url("../../src/images/bg-pattern-desktop.svg");
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: 60vw 40vw;
    grid-template-rows: row; }
  .left {
    margin-left: 5rem;
    margin-right: 15rem; } }

/* MOBILE */
@media only screen and (max-width: 900px) {
  /* Tablet */
  .right {
    display: none; } }

.info {
  margin: 5rem 4rem 0 4rem; }

.art__tit .art__tit--fir,
.art__tit .art__tit--sec,
.art__tit .art__tit--tir {
  display: block; }

.art__txt {
  margin-top: 2rem; }
