@import url("https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

body {
  box-sizing: border-box; }

html {
  /*10px = 1rem*/
  font-size: 62.5%; }

@media only screen and (max-width: 900px) {
  /* Tablet */
  html {
    /* 1rem = 10px */
    font-size: 56.25%; } }

@media only screen and (max-width: 600px) {
  /* Mobile */
  html {
    /* 1rem = 10px */
    font-size: 50%; } }

body {
  font-family: "Josefin Sans", sans-serif; }

.art__tit {
  text-align: center; }
  .art__tit .art__tit--fir,
  .art__tit .art__tit--sec,
  .art__tit .art__tit--tir {
    font-size: 5rem;
    text-transform: uppercase;
    font-weight: 300;
    color: #ce9797; }
  .art__tit .art__tit--sec,
  .art__tit .art__tit--tir {
    font-size: 5rem;
    text-transform: uppercase;
    font-weight: 700;
    color: #413a3a; }

.art__txt {
  text-align: center;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #413a3a; }

.logo {
  display: flex;
  flex: 1;
  height: 8vh;
  flex-direction: row;
  align-items: center; }
  .logo .logo__img {
    width: 12rem;
    margin-left: 3rem; }

.pg-fm {
  margin-top: 3rem;
  display: flex;
  justify-content: center; }
  .pg-fm .pg-fm__inp {
    width: 70vw;
    height: 5vh;
    border-radius: 5rem;
    outline: none;
    border: 0.1rem solid #ce9797; }
    .pg-fm .pg-fm__inp::placeholder {
      padding: 3rem; }

.pg-fm .btn {
  width: 20vw;
  z-index: 1;
  background-image: url("../../src/images/icon-arrow.svg");
  color: linear-gradient(135deg, white, #fff5f5);
  background-repeat: no-repeat;
  background-position: center; }

.pg-fm .btn--round {
  border-radius: 5rem; }

.header__banner {
  background-image: url("../../src/images/hero-mobile.jpg");
  background-size: cover;
  height: 30vh; }

.info {
  margin: 5rem 4rem 0 4rem; }

.art__tit .art__tit--fir,
.art__tit .art__tit--sec,
.art__tit .art__tit--tir {
  display: block; }

.art__txt {
  margin-top: 2rem; }
